# macOS
.DS_Store

# Logs
*.log

# Python
__pycache__/
*.py[cod]

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
labs/02-terraform-ec2-docker/tfplan

# Docker
*.env
docker-compose.override.yml

# Kubernetes
*.yaml.swp

# Helm
*.tgz
charts/

# Node.js
node_modules/

# IDE/Editor configs
.vscode/
.idea/

# CI/CD & script leftovers
*.retry
*.bak
*.tmp
*.swp

# Others
.env
